html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

#canvas {
  margin: 0 auto;
}

#wattsNowContainer {
  text-align: right;
}

.container {
  margin-right: 200pt; 
  margin-left: 200pt; 
}

.container ul {
  float: left;
}